.haqqindaslide {
    z-index: 99;
    position: absolute;
    left: 10px !important;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.toplar {
    z-index: 2;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(-100px);
    /* transition: 0s color; */
}

#firstgamer {
    position: relative;
    bottom: 286px;
    left: 100px;
    font-size: 20px;
}

#firstgamerpoint {
    position: relative;
    bottom: 301px;
    left: 125px;
    font-size: 40px;
}

#threegamer {
    bottom: 180px !important;
    color: rgb(138, 9, 9);
    position: relative;
    left: 56px;
}

#threegamerpoint {
    bottom: 181px !important;
    color: white;
    position: relative;
    left: 65px;
    font-size: 24px;
}

#secondgamer {
    font-size: 14px;
    color: rgb(20, 221, 111);
    position: relative;
    bottom: 185px;
    left: 50px;
}

#secondgamerpoint {
    position: relative;
    bottom: 188px;
    color: white;
    left: 65px;
    font-size: 25px;
}

#ikinciyer {
    position: relative;
    bottom: 110px;
    right: 10px;
}

#game {
    z-index: 1;
    cursor: url(shekiller/cursor/cursor.cur), pointer;
    min-width: 100%;
    min-height: 600px;
    position: absolute;
    top: 0;
    background: url(shekiller/background.jpg);
}

.helps {
    position: relative;
    top: 480px;
    left: 120px;
    z-index: 99;
}

.mybutton {
    position: relative;
    right: 80px;
    min-width: 120px;
    margin: 2px;
    padding: 0.3em;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    border: 0;
    cursor: url(shekiller/cursor/cursor1.cur), pointer;
    border-radius: 28px;
}

#gameover {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    top: 225px;
    left: 310px;
    color: white;
    background: linear-gradient(to right, #030303, #ed2f3f);
    ;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

#gameoverimg {
    z-index: 99;
    position: relative;
    bottom: 100px;
    left: 220px;
}

.mybutton::before,
.mybutton::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    ;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

.mybutton:hover::before {
    filter: blue(5px);
}

.mybutton:hover::after {
    filter: blue(15px);
}

.mybutton:hover {
    animation: hue 3s linear infinite;
}

@keyframes hue {
    0% {
        filter: hue-rotate(8deg)
    }
    0% {
        filter: hue-rotate(360deg)
    }
}

.mybutton span {
    position: relative;
    z-index: 3;
    display: block;
    padding: 1.3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background-color: #2c2e36;
    border-radius: 17px;
}

#haqqindashow {
    position: absolute;
    top: 0px;
    z-index: 1;
    right: 0px;
}

#haqqindashow img {
    z-index: 1;
    position: absolute;
    right: -250px;
    top: 0px;
}

#qeydiyyatshow img {
    z-index: 4;
    position: absolute;
    right: 0px;
    top: 80px;
}

.basla {
    display: none;
    position: relative;
    left: 50px;
    bottom: 10px;
}

.neticeler {
    width: 250px;
    top: 245px;
    left: 30px;
    bottom: 0px;
}

#tamam {
    position: relative;
}

.melumatlar {
    height: 600px;
    width: 100%;
    position: absolute;
    left: 20px;
    background-image: url(shekiller/tabloranking.png);
    border: 1px solid #2f80ed;
}

#message {
    position: absolute;
    left: 180px;
    top: 150px !important;
}

#haqqindashow span {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    top: 0px;
    z-index: 4;
    width: 225px;
    position: absolute;
    right: 2px;
}

#vaxt {
    z-index: 2;
    color: white;
    position: absolute;
    font-size: 40px;
}

body {
    overflow: hidden;
    background-color: black !important;
}

#xal {
    z-index: 3;
    position: absolute;
    top: 475px;
    left: 100px;
}

.lovhe {
    height: 200px;
    width: 160px;
    position: absolute;
    top: 437px;
    left: 20px;
    background: url(shekiller/xal.png);
    z-index: 2;
    background-repeat: no-repeat;
}

.xalyeri {
    height: 50px;
    width: 200px;
    background-image: red;
}

.cloud {
    z-index: 0;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 250px;
    background: url(shekiller/bulud.png);
    background-repeat: repeat-x;
    animation: animate 60s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 1200px;
    }
}


/* Bonuslu ve Sade Balonlar */

.sadebalon {
    /*  */
    color: white;
}

.bonusballoon::before {
    filter: black(5px);
}

.bonusballoon::after {
    filter: black(15px);
}

.bonusballoon {
    animation: hue 0.5s linear infinite;
}

@keyframes bonusbalon {
    0% {
        filter: hue-rotate(8deg)
    }
    0% {
        filter: hue-rotate(360deg)
    }
}


/* login */

.hero {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 600px;
    position: relative;
    top: 0px;
    background: #fff;
    overflow: hidden;
}

.button-box {
    height: 40px;
    width: 220px;
    margin: 35px auto;
    position: relative;
    background: rgb(26, 55, 149);
    box-shadow: 0 0 20px #ff6224b0;
    border-radius: 30px;
}

li {
    font-size: 14px !important;
}

.gruoprating {
    color: white;
    top: 55px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #1c77ee, #030113);
    border: 0;
    color: white;
    outline: none;
    border-radius: 30px;
}

#login {
    top: 60px;
}

#register {
    left: 500px;
    top: -130px;
}


/* reytingsistemi */

.esas {
    /* padding: 30px; */
    z-index: -5;
}

.ratingback {
    position: absolute;
    top: 0px;
}

.button-boxid {
    bottom: 26px;
    width: 370px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.changebtn {
    width: 100px;
    padding: 10px 30px;
    cursor: pointer;
    color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: transparent;
    border: 0;
    outline: none !important;
    position: relative;
}

#btnid {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.input-grouprating {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.rating {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

#bestscoreid {
    top: 210px;
    max-width: 200px;
    left: 50px;
    color: black;
    /* background: linear-gradient(to right, #1c77ee, #030113); */
}

#totalscoreid {
    top: 200px;
    max-width: 200px;
    left: -400px;
    color: black;
    /* background: linear-gradient(to right, #c4f318f5, #030113c2); */
}

#levelid {
    top: 200px;
    max-width: 200px;
    left: -400px;
    color: black;
    /* background: linear-gradient(to right, #ee1c2e, #030113); */
}