@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');


.card{
    position: relative;

    background: #fff;
    width: 400px;
    height: 600px;
    margin: 0 auto;
}

.card .content {
    width: 400px;
    padding: 10px;
    box-sizing: border-box;
}
.card .sliderText a{
    display: inline-block;
    margin: 10px 0 0;
    text-decoration: none;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 600;
}
.card .sliderText {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;

}

.card .sliderText h3{
    text-align: center;
    color: #fff;
    font-size: 3em;

}
.swiper-slide{
    width: 400px !important;
}
.swiper-slide:nth-child(1) .sliderText{
    background: #2196f3;
}
.swiper-slide:nth-child(2) .sliderText{
    background: #f32167;
}
.swiper-slide:nth-child(3) .sliderText{
    background: #f0f321;
}
.swiper-slide:nth-child(4) .sliderText{
    background: #21f3d7;
}
.swiper-slide:nth-child(5) .sliderText{
    background: #21f391;
}